body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
div{
    display: flex;
    width: 150px;
    height: 90px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    z-index: 1;
}
.box:hover{
    color: white;
    transition: 0.5s;
}
.box1::before{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    background-color: cornflowerblue;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.box1:hover::before{
    width: 180px;
    height: 180px;
}
.box2::before{
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    background-color: cornflowerblue;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.box2:hover::before{
    width: 0px;
    height: 0px;
}
.box3::before{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    background-color: cornflowerblue;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    z-index: -1;
    transform: translate(-50%,-50%);
}
.box3:hover::before{
    width: 150px;
    height: 150px;
}
.box4::before{
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: cornflowerblue;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    z-index: -1;
    transform: translate(-50%,-50%);
}
.box4:hover::before{
    width: 0px;
    height: 0px;
}
.box5::before{
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 0%;
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-50%);
}
.box5:hover::before{
    height: 100%;
}
.box6::before{
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}
.box6:hover::before{
    top: 50%;
    height: 0%;
}
.box7::before{
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    top: 0%;
    left: 50%;
    width: 0%;
    height: 100%;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: -1;
}
.box7:hover::before{
    width: 100%;
}
.box8::before{
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}
.box8:hover::before{
    left: 50%;
    width: 0%;
}