body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
div{
    display: flex;
    width: 150px;
    height: 90px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    z-index: 1;
}
.box:hover{
    color: white;
    transition: 0.5s;
}
.box1::before{
    content: "";
    border-top: 10px solid cornflowerblue;
    width: 100%;
    height: 100%;
    left: -100%;
    position: absolute;
    transition: 0.5s;
    z-index: -1;
}
.box1:hover::before{
    left: 0%;
}
.box2::before{
    content: "";
    border-top: 10px solid cornflowerblue;
    width: 100%;
    height: 100%;
    right: -100%;
    position: absolute;
    transition: 0.5s;
    z-index: -1;
}
.box2:hover::before{
    right: 0%;
}
.box3::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 10px solid cornflowerblue;
    left: -100%;
    transition: 0.5s;
    z-index: -1;
}
.box3:hover::before{
    left: 0%;
}
.box4::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 10px solid cornflowerblue;
    right: -100%;
    transition: 0.5s;
    z-index: -1;
}
.box4:hover::before{
    right: 0%;
}