.main{
    margin: 91px 100px;

}
h1{
    font-size: 55px;
    margin-bottom: 45px;
}
p{
    font-size: 24px;
    margin: 45px 0px;
    line-height: 150%;
}
.textnimg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: 662px;
}
.img{
    width: 336px;
    margin-left: 150px;
}
@media (min-width: 601px) and (max-width: 1024px){
    .main{
        margin: 56px 72px;
    }
    h1{
    font-size: 32px;
    margin-bottom: 28px;
    }
    p{
    font-size: 16px;
    margin: 28px 0px;
    line-height: 150%;
    }
    .text{
    width: 420px;
    }
    .img{
    width: 250px;
    }
}
@media (min-width: 375px) and (max-width: 600px){
    .textnimg{
    flex-direction: column;
    }
    .main{
        margin: 28px auto;
    }
    h1{
    margin-left: 270px;
    }
    p{
    margin: 18px 0px;
    }
    .text{
    margin-right: 250px;
    margin-left: 250px;
    }
    .img{
    width: 50%;
    }
}